@import "mixins";
@import "variables";

#page-wrapper {
  width: 100%;
  background: #efebc9;
  background-image: url(../images/pattern.png), linear-gradient(to bottom, #efebc9 0%, #fffef9 60%);
  position: relative;
  header {
    background: #3079b7;
    background-image: url(../images/pattern.png), linear-gradient(to bottom, #3079b7 0%, #6296ca 60%);
    @include set(height, (xs: auto, sm: 66px, md: 66px, lg: 66px));
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    .container {
      position: relative;
      z-index: 20;
    }
    h1 {
      margin: 0;
      line-height: 66px;
    }
  }
  .pageTitle {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(26, 100, 162, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.35);
    padding: 0; 
    margin: 0;
    @include set(font-size, (xs: 14px, sm: 18px, md: 18x, lg: 18px));
    font-weight: 700;
    @include set(line-height, (xs: 30px, sm: 66px, md: 66px, lg: 66px));
    a {
      color: #fff;
    }
  }
}

#content {
  margin: 0 auto;
  padding: 30px 0 50px;
  position: relative;
  z-index: 20;
  .container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,0.25);
    padding-bottom: 10px;
  }
  .articleImage {
    position: relative;
    @include set(width, (xs: 290px, sm: 300px, md: 300px, lg: 300px));
    min-height: 300px;
    @include set(padding, (xs: 0 5px, sm: 0 10px, md: 0 10px, lg: 0 10px));
    @include set(float, (xs: none, sm: left, md: left, lg: left));
    img{
      width: 280px; 
      height: 280px;
      position: relative;
      display: block;
      z-index: 10;
    }
    &:before {
      z-index: 5;
      position: absolute;
      content: "";
      display: block;
      top: 10px;
      bottom: 5px;
      @include set(left, (xs: 3px, sm: 8px, md: 8px, lg: 8px));
      width: 284px;
      background: #777;
      box-shadow: 0 0 15px #111;
      transform: perspective(200px) rotateX(-5deg);
      transform-origin: top;
      filter: blur(5px);
      
    }
  }
  .articleIntro {
    @include set(width, (xs: 100%, sm: calc(100% - 310px), md: calc(100% - 310px), lg: calc(100% - 310px)));
    @include set(float, (xs: none, sm: right, md: right, lg: right));
    @include set(padding-top, (xs: 15px, sm: 0, md: 0, lg: 0));
  }
  
  h4 {
    margin: 0 0 10px;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    font-family: 'Roboto';
    font-weight: 300;
    color: #000;
  }
}

.horizontalSeparator {
  padding: 0;
  border: none;
  border-top: medium double #ddd;
  color: #999;
  text-align: center;
  margin: 20px 10% 0;
  &:after {
    content: "\00a7";
    display: inline-block;
    position: relative;
    top: -16px;
    font-size: 18px;
    padding: 0 8px;
    background: white;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

.rounded-number {
  display: inline-block;
  background: $text-color;
  border-radius: 20px;
  padding: 3px 4px;
  color: #fff;
  font-size: 80%;
  font-weight: 700;
  width: 21px;
  text-align: center;
}

blockquote {
  font-size: 14px;
}

