@import "mixins";
@import "variables";

#page-wrapper {
  width: 100%;
  height: 100%;
  @include set(min-height, (xs: 740px, sm: 100%, md: 100%, lg: 100%));
  background: #efebc9;
  background: linear-gradient(to bottom, #efebc9 0%, #fffef9 60%);
  position: relative;
  .overlay {
    background: url(../images/cover-pattern.png) repeat top left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include set(min-height, (xs: 740px, sm: 100%, md: 100%, lg: 100%));
    z-index: 10;
  }
  header {
    background: #3079b7;
    background: linear-gradient(to bottom, #3079b7 0%, #6296ca 60%);
    @include set(height, (xs: 96px, sm: 66px, md: 66px, lg: 66px));
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    .container {
      position: relative;
      z-index: 20;
    }
    h1 {
      margin: 0;
    }
  }
  #logoSmall {
    margin: 0;
    @include set(padding, (xs: 10px 0, sm: 15px 0, md: 15px 0, lg: 15px 0));
    a {
      text-decoration: none;
    }
    h1 {
      margin: 0;
      padding: 0 0 0 53px;
      background: url(../images/logo.svg) no-repeat left center;
      background-size: 38px 36px;
      font-family: 'Kaushan Script', cursive;
      font-size: 26px;
      line-height: 1.4;
      color: rgba(255, 255, 255, 0.95);
      text-shadow: 1px 1px 0 rgba(26, 100, 162, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.35);
    }
  }
  .pageTitle {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(26, 100, 162, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.35);
    padding: 0; 
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    @include set(line-height, (xs: 30px, sm: 66px, md: 66px, lg: 66px));
  }
}

#content {
  margin: 20px auto;
  position: relative;
  z-index: 20;
  .container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,0.25);
  }
  .articleImage {
    position: relative;
    @include set(width, (xs: 290px, sm: 300px, md: 300px, lg: 300px));
    min-height: 300px;
    @include set(padding, (xs: 0 5px, sm: 0 10px, md: 0 10px, lg: 0 10px));
    @include set(float, (xs: none, sm: left, md: left, lg: left));
    img{
      width: 280px; 
      height: 280px;
      position: relative;
      display: block;
      z-index: 10;
    }
    &:before {
      z-index: 5;
      position: absolute;
      content: "";
      display: block;
      top: 10px;
      bottom: 5px;
      @include set(left, (xs: 3px, sm: 8px, md: 8px, lg: 8px));
      width: 284px;
      background: #777;
      box-shadow: 0 0 15px #111;
      transform: perspective(200px) rotateX(-5deg);
      transform-origin: top;
      filter: blur(5px);
      
    }
  }
  .articleIntro {
    @include set(width, (xs: calc(100% - 300px), sm: calc(100% - 310px), md: calc(100% - 310px), lg: calc(100% - 310px)));
    @include set(float, (xs: none, sm: right, md: right, lg: right));
  }
  
  h4 {
    margin: 0 0 10px;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    font-family: 'Roboto';
    font-weight: 300;
    color: #000;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

