$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

// endbower

@import "../bower_components/roboto-slab-fontface/roboto-slab-fontface.css";

@import "mixins";
@import "variables";

#cover {
  width: 100%;
  height: 100%;
  background: #3079b7;
  background: linear-gradient(to bottom, #3079b7 0%, #6296ca 60%);
  position: relative;
  .pattern {
    background: url(../images/cover-pattern.png) repeat top left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #wrapper {
    background-image: url(../images/cover.png);
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: 50% 50%;
    margin: 0 auto;
    max-width: 960px;
    @include set(min-height, (xs: 230px, sm: 470px, md: 580px, lg: 580px));
    height: 100%;
    position: relative;
    #menuContainer {
      margin: 0 auto;
      padding: 0;
      @include set(height, (xs: 538px, sm: 538px, md: 577px, lg: 577px));
      @include set(width, (xs: 98%, sm: 98%, md: 90%, lg: 80%));
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  #logo {
    margin: 0;
    @include set(padding, (xs: 10px 0, sm: 10px 0, md: 20px 0, lg: 30px 0));
    a {
      text-decoration: none;
    }
    h1 {
      margin: 0;
      padding: 0 0 0 53px;
      background: url(../images/logo.svg) no-repeat left center;
      background-size: 50px 48px;
      font-family: 'Kaushan Script', cursive;
      font-size: 36px;
      line-height: 1.4;
      color: rgba(255, 255, 255, 0.95);
      text-shadow: 1px 1px 0 rgba(26, 100, 162, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.35);
    }
  }
}

.menuCircles {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.menulink {
  position: absolute;
  text-align: center;
  overflow: hidden;
  z-index: 99;
  width: 127px;
  height: 127px;
  background: #fffef5;
  background: radial-gradient(ellipse at center, #fffef5 0%, #f8f5db 100%);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 450px;
  &:hover {
    background: #f5f2d9;
    background: radial-gradient(ellipse at center, #f5f2d9 0%, #f0e8b3 100%);
  }
  .menuTitle {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    color: #4d4d4d;
    padding: 0 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    &:hover, &:focus {
      text-decoration: none;
      color: #000;
    }
  }
  &.openItem {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    &:hover {
      background: transparent;
    }
    .menuTitle {
      top: 0;
      transform: translateY(0);
      color: rgba(255, 255, 255, 0.95);
      text-shadow: 1px 1px 0 rgba(26, 100, 162, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.35);
      letter-spacing: .5px;
      font-size: 15px;
    }
  }
  .menuContent {
    width: 320px;
    min-height: 100px;
    max-height: 350px;
    text-align: left;
    padding: 10px;
    background-color: #f0f0f0;
    border: 2px solid #fff;
    margin: 10px 0 0;
    display: none;
    border-radius: 5px;
    p, a {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      padding: 4px 0;
      text-shadow: 1px 1px 1px #fffef9;
      text-decoration: none;
      color: #4c4c4c;
      &:hover {
        color: #6296ca;
      }
      &.menuContentTitle {
        font-size: 15px;
        color: #6296ca;
        text-shadow: 1px 1px 1px #fffef9;
        &:hover {
          color: #053c73;
        }
      }
      &.grey {
        color: #9f9f9f;
        &:hover {
          color: #9f9f9f;
        }
      }
    }
    .accordionButton {
      cursor: pointer;
    }
    .accordionContent {
      display: none;
      p {
        padding: 2px 0 2px 15px;
        line-height: 1.25;
      }
    }
  }
}

#item1 {
  top: 0px;
  left: calc(50% - 137px);
}

#item2 {
  top: 0px;
  left: calc(50% + 10px);
}

#item3 {
  top: 137px;
  left: calc(50% - 137px);
}

#item4 {
  top: 137px;
  left: calc(50% + 10px);
}

#item5 {
  top: 274px;
  left: calc(50% - 137px);
}

#item6 {
  top: 274px;
  left: calc(50% + 10px);
}

#item7 {
  top: 411px;
  left: calc(50% - 137px);
}

#item8 {
  top: 411px;
  left: calc(50% + 10px);
}

@media(min-width:992px) {
  #item1 {
    top: 274px;
    left: 0px;
  }

  #item2 {
    top: 112px;
    left: 113px;
  }

  #item3 {
    top: 21px;
    left: 284px;
  }

  #item4 {
    top: 0px;
    left: 477px;
  }

  #item5 {
    top: 126px;
    left: calc(100% - 127px);
  }

  #item6 {
    top: 290px;
    left: 525px;
  }

  #item7 {
    top: 401px;
    left: 350px;
  }

  #item8 {
    top: 450px;
    left: 140px;
  }
}

.rss {
  margin-bottom: -5px;
}
