@import "mixins";
@import "variables";

#home {
  background: #3079b7;
  background: linear-gradient(to bottom, #3079b7 0%, #6296ca 60%);
  #wrapper {
    margin: 0 auto;
    @include set(max-width, (xs: 300px, sm: 700px, md: 960px, lg: 960px) );
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
  }
  img {
    max-width: 98%;
    position: absolute;
    top: 50%;
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  
  &.one {
    animation-name: fadeInDownBig;
    animation-delay: 0.3s;
  }
  &.two {
    animation-name: fadeInLeftBig;
    animation-delay: 1.1s;
  }
  &.three {
    animation-name: fadeInUpBig;
    animation-delay: 1.9s;
  }
}