$font-path: '/styles/fonts/';
$icon-font-path: $font-path;
$fa-font-path: $font-path;
$roboto-font-path: $font-path;

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import '../bower_components/font-awesome/scss/font-awesome';
@import '../bower_components/roboto-fontface/roboto-fontface.scss';


@import 'fonts';
@import 'mixins';
@import 'variables';
@import 'cover';
@import 'toc';
@import 'articles';

// Breakpoint starting viewport widths
$sm:  768px;
$md:  984px;
$lg: 1200px;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  height: 100%;
  background-color: $bg-color;
  color: $text-color;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

::-moz-selection {
  text-shadow: none;
  background: #ccc;
}

::selection {
  text-shadow: none;
  background: #ccc;
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: #6666cc;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: #d2d2d5;
  -webkit-border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #a4a4a9;
  -webkit-border-radius: 10px;
  border: 2.5px solid #d2d2d5;
  border-top-width: 5px;
  border-bottom-width: 5px;

  &:hover, &:active {
    background-color: #909094;
  }
}

/* Bootstrap overwrite */
.navbar-default {
  border-color: transparent;
  background-color: #222;
  .navbar-brand {
    &:hover, &:focus, &:active, &.active{
      color: #fff;
    }
  }
  .navbar-collapse {
    border-color: rgba(255,255,255,.02);
  }
  .navbar-toggle {
    border-color: #6666cc;
    background-color: #6666cc;
    .icon-bar {
      background-color: #fff;
    }
    &:hover, &:focus {
      background-color: #6666cc;
    }
  }
  .nav {
    li {
      a {
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        color: #fff;
        text-shadow: 1px 2px 8px #000;
        &:hover, &:focus{
          outline: 0;
          color: #fff;
          opacity:.8;
        }
      }
    }
  }
  .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: #6666cc;
    &:hover, &:focus{
      color: #fff;
      background-color: #cbcbd4;
    }
  }
}

@media(min-width:768px) {
  .navbar-default {
    padding: 15px 0;
    border: 0;
    background-color: transparent;
    transition: padding .3s;
    .navbar-brand {
      font-size: 2em;
      transition: all .3s;
    }
    .navbar-nav>.active>a {
      border-radius: 3px;
    }
    &.navbar-shrink {
      padding: 10px 0;
      background-image: url(../images/pattern.png), linear-gradient(to bottom, #3079b7 0%, #6296ca 60%);
      border-bottom: 1px solid rgba(255,255,255,0.3);
      .navbar-brand {
        font-size: 1.5em;
      }
    }
  }
}

section {
  min-height: 100%;
  position: relative;
  .pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/pattern.png) center center;
    background-size: 700px 700px;
  }
}

h1{
  margin: 0;
  padding: 0 0 0 53px;
  background: url(../images/logo.svg) no-repeat left center;
  background-size: 38px 36px;
  font-family: 'Kaushan Script', cursive;
  font-size: 26px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 1px 1px 0 rgba(26, 100, 162, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.35);
}

h2{
  position: relative;
  text-transform: uppercase;
  @include set(font-size, (xs: 24px, sm: 40px, md: 40px, lg: 40px) );
  @include set(line-height, (xs: 24px, sm: 40px, md: 40px, lg: 40px) );
  @include set(padding-top, (xs: 80px, sm: 110px, md: 110px, lg: 110px) );
  font-weight: 300;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.6), -1px -1px 1px rgba(0,0,0,0.35);
}

.navbar-brand {
  margin: 7px 0;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  height: 36px;
}

footer {
  @include set(height, (xs: 60px, sm: 30px, md: 30px, lg: 30px));
  width: 100%;
  color: #fff;
  font-size: 12px;
  z-index: 10;
  bottom: 0;
  margin-top: -30px;
  p {
    margin: 0;
  }
  a {
    color: #f4e9ad;
    &:hover, &:focus {
      color: #f4e9ad;
    }
  }
}

#toc, #page-wrapper {
  footer {
    padding-top: 0;
    color: $text-color;
    a {
      color: #3572b4;
      &:hover, &:focus {
        color: #3572b4;
      }
    }
  }
}

.accordion-toggle {
  cursor: pointer;
}
.accordion-content {
  display: none;
  padding-left: 15px;
}

.blue {
  color:#3572b4;
}
.bold {
  font-weight: 700;
  font-family: 'Roboto';
}
.spacer10 {
  height: 10px;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 5px;
}

