<div id="cover">
  <div class="pattern"></div>
  <div id="wrapper">
    <div id="logo">
      <a href="http://visualspec.org"><h1>VisualSpec.org</h1></a>
    </div>
    <div id="menuContainer">
      <div id="menuCircles" class="menuCircles">
        <div id="item1" class="menulink">
          <a href="" class="menuTitle">Introduction <span class="closeMenuContent hidden"><i class="fa fa-times-circle"></i></span></a>
          <div class="menuContent">
            <p>
              <a href="what_is_this_site_all_about.html">What is this site all about?</a>
            </p>
            <p class="grey">Design balance in information systems</p>
            <p class="grey">The benefits and limitations of models</p>
          </div>
        </div>
        <div id="item2" class="menulink">
          <a href="" class="menuTitle">Attitude <span class="closeMenuContent hidden"><i class="fa fa-times-circle"></i></span></a>
          <div class="menuContent">
            <p>
              <a href="Analyst_Attitude.html">The analyst's attitude</a>
            </p>
            <p>
              <a href="What_Squash_can_teach_us.html">What Squash can teach us about learning environments</a>
            </p>
            <p>
              <a href="When_effort_estimations_feel_like.html">When effort estimations feel like buying showroom kitchens</a>
            </p>
          </div>
        </div>
        <div id="item3" class="menulink">
          <a href="" class="menuTitle">Visual Specification <span class="closeMenuContent hidden"><i class="fa fa-times-circle"></i></span></a>
          <div class="menuContent">
            <p>
              <a href="Communicating_Designs.html">Communicating Designs</a>
            </p>
            <p>
              <a href="Overview_of_Representations.html">Overview of Representations</a>
            </p>
            <p class="grey">Representing Strategy</p>
            <p class="grey">Representing Information</p>
            <p class="grey">Representing Processes</p>
          </div>
        </div>
        <div id="item4" class="menulink">
          <a href="" class="menuTitle">Information Modeling <span class="closeMenuContent hidden"><i class="fa fa-times-circle"></i></span></a>
          <div class="menuContent">
            <div class="accordionButton">
              <p class="menuContentTitle">Ontologies</p>
            </div>
            <div class="accordionContent">
              <p>
                <a href="Introduction_to_Ontologies.html">Introduction to Ontologies</a>
              </p>
              <p>
                <a href="Business_Ontologies.html">Business Ontologies</a>
              </p>
              <p>
                <a href="3_orders_of_Logic.html">3 orders of Logic</a>
              </p>
              <p>
                <a href="Weak_versus_Strong_Typing.html">Weak versus Strong Typing</a>
              </p>
              <p>
                <a href="Elements_of_an_Ontology.html">Elements of an Ontology</a>
              </p>
              <p class="grey">Ontology Patterns</p>
              <p>
                <a href="Ontology_Anti-Patterns.html">Ontology Anti-Patterns</a>
              </p>
            </div>
            <div class="accordionButton">
              <p class="menuContentTitle">Processes</p>
            </div>
            <div class="accordionContent">
              <p>
                <a href="Introduction_to_Process_Modeling.html">Introduction to Process Modeling</a>
              </p>
              <p>
                <a href="Why_are_Processes_Important.html">Why are processes important?</a>
              </p>
              <p class="grey">Elements of Process Modeling</p>
            </div>
            <div class="accordionButton">
              <p class="menuContentTitle">Events</p>
            </div>
            <div class="accordionContent">
              <p class="grey">Introduction to Events</p>
              <p class="grey">Events in the Enterprise</p>
              <p class="grey">An Architecture to process Events</p>
            </div>
            <div class="accordionButton">
              <p class="menuContentTitle">Capabilities</p>
            </div>
            <div class="accordionContent">
              <p>
                <a href="Modeling_Capabilities.html">Modeling Capabilities</a>
              </p>
            </div>
          </div>
        </div>
        <div id="item5" class="menulink">
          <a href="" class="menuTitle">Download Templates <span class="closeMenuContent hidden"><i class="fa fa-times-circle"></i></span></a>
          <div class="menuContent">
            <p>
              <a href="Business_Templates.html">Business Templates</a>
            </p>
            <p>
              <a href="System_Templates.html">System Templates</a>
            </p>
            <p>
              <a href="Technical_Templates.html">Technical Templates</a>
            </p>
          </div>
        </div>
        <div id="item6" class="menulink">
          <a href="" class="menuTitle">Enterprise Governance <span class="closeMenuContent hidden"><i class="fa fa-times-circle"></i></span></a>
          <div class="menuContent">
            <p class="grey">The concerns of Enterprise Governance</p>
            <p class="grey">Application Inventorization</p>
            <p class="grey">Functional Coverage</p>
            <p class="grey">Managing Architecture Debt</p>
            <p class="grey">Understanding the Total Cost of Ownership</p>
          </div>
        </div>
        <div id="item7" class="menulink">
          <a href="" class="menuTitle">Enterprise Architecture <span class="closeMenuContent hidden"><i class="fa fa-times-circle"></i></span></a>
          <div class="menuContent">
            <p class="grey">Elements of Enterprise Architecture</p>
            <p class="grey">Distributed, De-centralized, and Disruptive? Or Continuous, Centralized, and Concentrated?</p>
            <p>
              <a href="Dynamic_and_Static_Models.html">Dynamic Models and Static Models of the Enterprise</a>
            </p>
            <p class="grey">Enterprise Blueprint</p>
            <p class="grey">Enterprise Services</p>
            <p>
              <a href="Architecture_Styles.html">Architecture Styles</a>
            </p>
          </div>
        </div>
        <div id="item8" class="menulink">
          <a href="" class="menuTitle">On System Design <span class="closeMenuContent hidden"><i class="fa fa-times-circle"></i></span></a>
          <div class="menuContent">
            <p>
              <a href="What_is_a_System.html">What is a System?</a>
            </p>
            <p>
              <a href="What_are_Information_Systems.html">What are Information Systems?</a>
            </p>
            <p>
              <a href="What's_Important_to_the_Business.html">What's important to the business?</a>
            </p>
            <p>
              <a href="Characteristics_of_Effective_Information_Systems.html">Characteristics of Effective Information Systems</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- close menuContainer -->
  </div>
  <!-- close wrapper -->
  <footer>
    <p class="text-center">&copy;2007-<span id="current-year"></span> 
      <a href="mailto:indranil@product-foundry.com? &subject=visualspec.org comment">Indranil Bhattacharya</a>, 
      <a href="http://www.prodyct-foundry.com" target="_blank">Product Foundry BV</a>&nbsp;&nbsp;&#124;&nbsp;&nbsp;
      <a href="#" alt="About the Author" data-toggle="modal" data-target="#aboutTheAuthor">About the author</a>&nbsp;&nbsp;&#124;&nbsp;&nbsp;
      <a href="#" alt="Terms of Use" data-toggle="modal" data-target="#termOfUse">Terms of Use</a>&nbsp;&nbsp;&#124;&nbsp;&nbsp;
      <a href="feed.xml" alt="rss feed">RSS Feed</a>&nbsp;&nbsp;
      <a href="feed.xml" alt="rss feed"><img class="rss" src="../images/rss_blue.png" alt="rss feed" width="20" height="20" /></a>
    </p>
  </footer>
</div>

<!-- Modal -->
<div class="modal fade" id="aboutTheAuthor" tabindex="-1" role="dialog" aria-labelledby="aboutTheAuthorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="aboutTheAuthorLabel">About the author</h4>
      </div>
      <div class="modal-body">
        <p>I am a consultant on the design and development of enterprise systems. I use visualspec.org to document my thoughts on designing reusable and flexible business applications. My primary areas of interest are enterprise architecture, domain modeling, object-oriented analysis and design, artificial intelligence, knowledge management, and supply chain management. I work for PerfectArch as a Consultant, where we provide services for designing Enterprise Systems. I also work for Coena as an Architect, where we are designing a business network application to help small businesses connect with each other and large businesses.</p>
        <p>I would like to thank Daniel Codrea, my colleague in Product Foundry, who designed and developed this site.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="termOfUse" tabindex="-1" role="dialog" aria-labelledby="termOfUseLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="termOfUseLabel">Terms of Use</h4>
      </div>
      <div class="modal-body">
        <p>The rights to the contents of this site are reserved and owned by Indranil Bhattacharya. No part of the contents of this site may be copied, reproduced, transmitted, distributed, modified in any form or by any means - graphic, electronic, mechanical, photocopying, printing, recording, taping or stored in an information storage and retrieval system - without the written permission of Indranil Bhattacharya. The contents may not be displayed on other websites other than this one. Should you happen see this content somewhere else on the Internet then please contact <span class="blue">admin@product-foundry.com</span>.</p>
        <p>BY USING THIS WEBSITE, YOU ACKNOWLEDGE AND AGREE THAT YOU HAVE READ THE DISCLAIMER, UNDERSTOOD AND AGREED TO THE TERMS OF USE.</p>
      </div>
    </div>
  </div>
</div>


