<div id="page-wrapper">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4">
          <div id="logoSmall">
            <a href="http://visualspec.org"><h1>VisualSpec.org</h1></a><a id="pageTop"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8">
          <p class="pageTitle text-right"><a href="index.html#toc">Table of contents</a> / The analyst's attitude</p>
        </div>
      </div>
    </div>
  </header>
  <div id="content">
    <div class="container">
      <p class="spacer20">&nbsp;</p>
        <div class="articleImage text-center">
          <img src="images/What_is_this_Site_all_About/office.jpg" alt="Crowded office" />
          <small>&copy; The Library of Virginia</small>
        </div>
      <div class="articleIntro">
        <h4>Article Summary</h4>
        <div class="clearfix"></div>
        <p>Before approach any challenge, an analyst should be open examining their analytical methods, the underlying values they use to judge the best solution or fit for the problem, and be open to admitting that they are not always in control of all of the variables within a situation. Most of the following are patterns of positive and negative behavior that directly influence the quality of the solution being selected to solve a specific problem.</p>
      </div>
      <div class="clearfix"></div>
      <div class="horizontalSeparator">&nbsp;</div>
      <div class="row">
        <div class="col-xs-12">
          <h4>The analyst's attitude</h4>
          <p>Before starting an analysis assignment, the following checkpoints are usually quite useful. Most of them deal with the situation the analyst is being asked to analyze, and the attitude of the analyst.</p>
          <p><span class="rounded-number">1</span> <a href="#taa1" class="bold">Understand your charter</a></p>
          <p><span class="rounded-number">2</span> <a href="#taa2" class="bold">Start with an open mind</a></p>
          <p><span class="rounded-number">3</span> <a href="#taa3" class="bold">Encourage your stakeholders to start with an open mind</a></p>
          <p><span class="rounded-number">4</span> <a href="#taa4" class="bold">"If everyone just did what I told them to do, it would be so much simpler."</a></p>
          <p><span class="rounded-number">5</span> <a href="#taa5" class="bold">Mentally disassociate yourself from your ideas.</a></p>
          <p><span class="rounded-number">6</span> <a href="#taa6" class="bold">"We have always done it this way. Why should we do it differently?"</a></p>
          <p><span class="rounded-number">7</span> <a href="#taa7" class="bold">"It all ends up in the database anyway."</a></p>
          <p><span class="rounded-number">8</span> <a href="#taa8" class="bold">"I think they need a CRM system"</a></p>
          <p><span class="rounded-number">9</span> <a href="#taa9" class="bold">"You should use that vendor anyway. Everybody uses them."</a></p>
          <p><span class="rounded-number">10</span> <a href="#taa10" class="bold">"I am happy to argue, but remember, then I am being paid to argue."</a></p>
          <p><span class="rounded-number">11</span> <a href="#taa11" class="bold">"I can't explain it. It's a gut feeling. Just trust me on this."</a></p>
          <p><span class="rounded-number">12</span> <a href="#taa12" class="bold">Avoid idioms, jargon, acronyms, and ambigious words</a></p>
          <div class="horizontalSeparator">&nbsp;</div>
          <p class="bold"><span class="rounded-number">1</span> Understand your charter<a id="taa1"></a></p>
          <p>What kind of problem are you being asked to solve? Who has asked you to solve it? Have they given you a formal charter? Has the charter been explicitly phrased? Analysis through subterfuge rarely works in most organizations. If you are trying to start the analysis of a problem by packaging it as something else to your stakeholders, you will probably fail in the long run anyway.</p>
          <p>Seeking an extensive charter that gives you carte blanche is usually quite difficult as well. The middle ground is that you obtain a charter to solve a specific problem from stakeholders who can actually implement your solution if required. If your stakeholders do not have the charter to implement solutions, try and involve individuals in the process who can as additional stakeholders. When starting a new initiative, it's also important to keep the number of stakeholders as low as possible.</p>
          <p class="spacer10">&nbsp;</p>
          <p class="bold"><span class="rounded-number">2</span> Start with an open mind<a id="taa2"></a></p>
          <p>Easier said than done. As an analyst, you may feel that you are approaching the situation with an open mind, but scrutinize your approach. A lot of analysts that work in hectic environments tend to perceive the ability to rapidly categorize a problem with very little input as their key skill-set. This approach is very suitable for trouble-shooting and support, but definitely very restrictive if you are tasked with designing a new system, or re-thinking an existing system. If you've already done one of the following, try and purge your mind of the preconception, and start again.</p>
          <p class="spacer10">&nbsp;</p>
          <p class="bold"><span class="rounded-number">3</span> Encourage your stakeholders to start with an open mind<a id="taa3"></a></p>
          <p>This is also easier said than done. In course of understanding the problem you are trying to solve, you will end up speaking to stakeholders and people working with or around the issue. It's human nature to want to solve things, and you can usually count on a lot of people having solutions or recommendations. The analyst's challenge in these circumstances is to first understand the problem independent of the solutions, and to be able to sift through solutions once the problem is clearly understood. Your stakeholders and people working with the issue have the advantage of possessing a good understanding of a business domain. Your challenge is to take on ideas for solutions as input, and pass them through the same framework of rationalization and scrutiny that you would apply to your own ideas. Usually the best ideas form as a synthesis of your own ideas and the ideas of the people working in the domain. At the same time, if the ideas were truly mature, they would probably have been adopted already, so make sure they pass through your structure of rationalization.</p>
          <p class="spacer10">&nbsp;</p>
          <p class="bold"><span class="rounded-number">4</span> "If everyone just did what I told them to do, it would be so much simpler."<a id="taa4"></a></p>
          <p>The best ideas are rarely realized by an individual, but by a group of people working together. An idea conceived in isolation rarely has the kind of scrutiny that a team can provide. At the same time, avoid "design by committee", popularized by the maxim "a camel is a horse designed by committee". Start off with a strong idea or proposal, and then take on the feedback and criticism you need to make it a fully working implementation of the idea. Above all, it is important to respect your stakeholders, the problem, and the people that explain the problem.</p>
          <p class="spacer10">&nbsp;</p>
          <p class="bold"><span class="rounded-number">5</span> Mentally disassociate yourself from your ideas.<a id="taa5"></a></p>
          <p>Once you've come up with what you think is a good idea, the need to see it working follows. Others may not share your perspective, and it will be a challenge to get your ideas implemented if they diverge from the existing ways of working. An important step to making sure a good idea is adopted is to make sure it isn't perceived as your own idea. A good way to do this is to put your idea on the table, and position your idea as a seed of thought rather than a complete idea. Encourage people to tear the idea apart, see what's missing, add to the idea, take things away from the idea, etc.</p>
          <p>This is often easier said than done. If you've thought things through, and you've come up with a good idea, it is often difficult to disassociate the idea with your own ego. It is possible to become emotionally defensive about an idea or concept just because you have come up with it. A good practice is to pretend in your mind that someone else came up with the idea. This makes it easier to view your own ideas with a critical eye.</p>
          <p class="spacer10">&nbsp;</p>
          <p class="bold"><span class="rounded-number">6</span> "We have always done it this way. Why should we do it differently?"<a id="taa6"></a></p>
          <p>Manage resilience through rationale, and be prepared for concessions. There will probably be some form of resilience towards any new idea, but the fastest way to adoption is through making your stakeholders and audience feel that they also own the idea. Make it clear that you are interested in the optimal solution being adopted, and not having your own ideas being adopted. Your stakeholders and audience probably have lot of domain and organizational knowledge, and you can add a lot of value by using parallels from other domains and organizations, solutions from other industries, and existing solutions elsewhere that mirror the problem at hand.</p>
          <p class="spacer10">&nbsp;</p>
          <p class="bold"><span class="rounded-number">7</span> "It all ends up in the database anyway."<a id="taa7"></a></p>
          <p>Don't make any technical assumptions about the implementation of your solution. This is extremely restrictive, and severely limits the value of your analysis. Leave assumptions about systems design until you have completely understood the problem you are analyzing. All this is even more challenging if you have a technical background, and the primary analysis you do is of a technical nature. And for the record, no, not all things end up in the database.</p>
          <p class="spacer10">&nbsp;</p>
          <p class="bold"><span class="rounded-number">8</span> "I think they need a CRM system"<a id="taa8"></a></p>
          <p>If you have already decided what kind of system would solve the situation, why bother with the analysis? Labeling a situation without due analysis is unfair to the business and restrictive towards yourself. Typically, vendors that engage with analysis projects introduce a strong bias for their own systems. If you work for a software vendor, and you have asked to analyze a problem, try and do it with as much objectiveness as possible.</p>
          <p class="spacer10">&nbsp;</p>
          <p class="bold"><span class="rounded-number">9</span> "You should use that vendor anyway. Everybody uses them."<a id="taa9"></a></p>
          <p>That would make every business the same, with the same products, objectives, strategy, and business models. Try and be completely vendor neutral, and create analysis models that are do not make any vendor assumptions.</p>
          <p class="spacer10">&nbsp;</p>
          <p class="bold"><span class="rounded-number">10</span> "I am happy to argue, but remember, then I am being paid to argue."<a id="taa10"></a></p>
          <p>This is the worst form of disrespect to your audience. It's a line I've heard used quite often by analysts who have been hired as consultants. Interpreted, the analyst that uses this line is saying, "I can't defend my ideas. But as I am more expensive than you are as a resource, I know better." If you are unable to create a rationale for your ideas, and explain them to your audience without resorting to scare tactics, perhaps you shouldn't be an analyst.</p>
          <p><em>Other variations:</em></p>
          <p class="bold">"I've implemented the same solution in bigger companies that this. They didn't have a problem with it."</p>
          <p class="spacer10">&nbsp;</p>
          <p class="bold"><span class="rounded-number">11</span> "I can't explain it. It's a gut feeling. Just trust me on this."<a id="taa11"></a></p>
          <p>If you can't rationalize why a solution should be adopted, why certain feature is required, or why something is really necessary, the first thing you should do is to resist making the decision. Try and understand your personal motivations for the decision. Are you making the decision because of your personal value system or the organization' requirements? Does your gut feeling reflect what is best for the organization, or best for yourself? If you don't do this analysis, others will do it for you.</p>
          <p>Before starting any analysis work, start by creating a rationalization structure. Try and understand the organization's value systems, and created a model for it that you and others can reference. Before making a decision, try and identify all of the options. If you select an option for a specific case, avoid making it the standard. As a simple example, let's say you are designing a user interface element for users to select multiple options. You can use a <a href="http://www.eclipse.org/swt/widgets/gallery-list.png" alt="" class="bold">List</a>, a <a href="http://www.eclipse.org/swt/widgets/gallery-table.png" alt="" class="bold">Table</a>, a <a href="http://www.eclipse.org/swt/widgets/gallery-tree.png" alt="" class="bold">Tree</a>, or a <a href="http://www.eclipse.org/swt/widgets/gallery-combo.png" alt="" class="bold">drop-down</a>. If you happen to select a <a href="http://www.eclipse.org/swt/widgets/gallery-tree.png" alt="" class="bold">Tree</a> as it gives you the most options for the problem you are trying to solve, don't declare it as a standard, and start using it all over your application. Consider the alternatives, and select the best option.</p>
          <p>To quote from Christopher Alexander's excellent book, <a href="http://books.google.com/books?id=Kh3T3XFUfPQC&printsec=frontcover&dq=Notes+on+the+synthesis+of+form&sig=ACfU3U1j0LGGpQg3eKjLyCBcH0myYIr-2Q" class="blue bold">"Notes on the synthesis of form"</a>:</p>
          <blockquote>"The modern designer relies more and more on his position as an 'artist', on catchwords, personal idiom, and intuition - for all these relieve him of some of the burden of decision, and make his cognitive problems manageable. Driven on his own resources, unable to cope with the complicated information he is supposed to organize, he hides his incompetence in a frenzy of artistic individuality."</blockquote>
          <p>These were wise words when they were written in 1964. In an age where it is easier to introduce faddish behaviour into systems, where web agencies seem to have more "creative directors" than ever before, and where gaps between technology practioners and organizational leaders can grow very quickly, these words become even more important.</p>
          <p><em>Other variations:</em></p>
          <p class="bold">"I've implemented the same solution in bigger companies that this. They didn't have a problem with it."</p>
          <p class="spacer10">&nbsp;</p>
          <p class="bold"><span class="rounded-number">12</span> Avoid idioms, jargon, acronyms, and ambigious words<a id="taa12"></a></p>
          <p>Try and use terminology that is universally understood, or is used regularly within the business. Avoid using words that create ambiguity, such as <a href="http://www.merriam-webster.com/dictionary/set" alt="" class="bold">"set"</a>, which has 46 possible definitions, or "context", which could, in context, be interpreted in any way. When specifying, use an active voice, using phrases that contain "will", "will not", "under these conditions, the system will ..." rather than "it may be possible", "it should not be possible", or "sometimes". Avoid the use of <a href="http://en.wikipedia.org/wiki/Weasel_word" alt="" class="bold">"weasel words"</a>. Avoid the use of acronyms that aren't universally understood. For instance, defining a request by a business stakeholder for a change in the system can be called a change request, request for change, RFC, ROC, or CR. Calling it a change request uses the least amount of words, but doesn't add ambiguity. Only use an acronym if everyone in the organization has a clear understanding of what it means.</p>
          <p>&nbsp;</p>
          <hr />
          <p class="pull-right"><a href="#pageTop" class="blue"><i class="fa fa-chevron-up"></i> Top of page</a></p>
          <small><a id="sup1"></a>1. Gartner Says Eight of Ten Dollars Enterprises Spend on IT is <a href="http://www.gartner.cpage.jsp?id=497088" class="blue">"Dead Money"</a>
          </small>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- close content -->
  <div class="clearfix"></div>
  {{>footer}}
</div>
<!-- close page-wrapper -->

