<footer>
  <p class="text-center">&copy;2007-<span id="current-year"></span> 
    <a href="mailto:indranil@product-foundry.com? &subject=visualspec.org comment">Indranil Bhattacharya</a>,
    <a href="http://www.prodyct-foundry.com" target="_blank">Product Foundry BV</a>&nbsp;&nbsp;&#124;&nbsp;&nbsp;
    <a href="#" alt="About the Author" data-toggle="modal" data-target="#aboutTheAuthor">About the author</a>&nbsp;&nbsp;&#124;&nbsp;&nbsp;
    <a href="#" alt="Terms of Use" data-toggle="modal" data-target="#termOfUse">Terms of Use</a>&nbsp;&nbsp;&#124;&nbsp;&nbsp;
    <a href="feed.xml" alt="rss feed">RSS Feed</a>&nbsp;&nbsp;
    <a href="feed.xml" alt="rss feed">
      <i class="fa fa-rss-square"></i>
    </a>
  </p>
</footer>

<!-- Modal -->
<div class="modal fade" id="aboutTheAuthor" tabindex="-1" role="dialog" aria-labelledby="aboutTheAuthorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="aboutTheAuthorLabel">About the author</h4>
      </div>
      <div class="modal-body">
        <p>I am a consultant on the design and development of enterprise systems. I use visualspec.org to document my thoughts on designing reusable and flexible business applications. My primary areas of interest are enterprise architecture, domain modeling, object-oriented analysis and design, artificial intelligence, knowledge management, and supply chain management. I work for PerfectArch as a Consultant, where we provide services for designing Enterprise Systems. I also work for Coena as an Architect, where we are designing a business network application to help small businesses connect with each other and large businesses.</p>
        <p>I would like to thank Daniel Codrea, my colleague in Product Foundry, who designed and developed this site.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="termOfUse" tabindex="-1" role="dialog" aria-labelledby="termOfUseLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="termOfUseLabel">Terms of Use</h4>
      </div>
      <div class="modal-body">
        <p>The rights to the contents of this site are reserved and owned by Indranil Bhattacharya. No part of the contents of this site may be copied, reproduced, transmitted, distributed, modified in any form or by any means - graphic, electronic, mechanical, photocopying, printing, recording, taping or stored in an information storage and retrieval system - without the written permission of Indranil Bhattacharya. The contents may not be displayed on other websites other than this one. Should you happen see this content somewhere else on the Internet then please contact <span class="blue">admin@product-foundry.com</span>.</p>
        <p>BY USING THIS WEBSITE, YOU ACKNOWLEDGE AND AGREE THAT YOU HAVE READ THE DISCLAIMER, UNDERSTOOD AND AGREED TO THE TERMS OF USE.</p>
      </div>
    </div>
  </div>
</div>
