<section id="home" rel="Home">
  <div class="pattern">
    <div id="wrapper">
      <img src="images/cover-bottom.png" alt="Model example" class="animated one" />
      <img src="images/cover-middle.png" alt="Model example" class="animated two" />
      <img src="images/cover-top.png" alt="Model example" class="animated three" />
    </div>
    {{>footer}}
  </div>
</section>