<section id="toc" rel="Toc">
  <div class="container">
    <div class="section-title">
      <h2>Table of contents</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="toc-item effect-pf">
          <img src="images/What_is_this_Site_all_About/office.jpg" alt="">
          <div class="toc-text">
            <h4>Introduction</h4>
            <div class="toc-links">
              <a href="what_is_this_site_all_about.html">What is this site all about?</a>
              <a href="#" class="disabled-link">Design balance in information systems</a>
              <a href="#" class="disabled-link">The benefits and limitations of models</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="toc-item effect-pf">
          <img src="images/analyst_attitude/ink-test.jpg" alt="">
          <div class="toc-text">
            <h4>Attitude</h4>
            <div class="toc-links">
              <a href="the_analysts_attitude.html">The analyst's attitude</a>
              <a href="#">What Squash can teach us about learning environments</a>
              <a href="#">When effort estimations feel like buying showroom kitchens</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="toc-item effect-pf">
          <img src="images/overview_of_representations/blueprint.jpg" alt="">
          <div class="toc-text">
            <h4>Visual Specification</h4>
            <div class="toc-links">
              <a href="#">Communicating Designs</a>
              <a href="#">Overview of Representations</a>
              <a href="#" class="disabled-link">Representing Strategy</a>
              <a href="#" class="disabled-link">Representing Information</a>
              <a href="#" class="disabled-link">Representing Processes</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="toc-item effect-pf">
          <img src="images/business_ontologies/wooden-blocks.jpg" alt="">
          <div class="toc-text">
            <h4>Information Modeling</h4>
            <div class="toc-links">
              <div id="accordion">
                <a class="accordion-toggle">ONTOLOGIES <i class="fa fa-chevron-down"></i></a>
                <div class="accordion-content">
                  <a href="#">Introduction to Ontologies</a>
                  <a href="#">Business Ontologies</a>
                  <a href="#">3 orders of Logic</a>
                  <a href="#">Weak versus Strong Typing</a>
                  <a href="#">Elements of an Ontology</a>
                  <a href="#" class="disabled-link">Ontology Patterns</a>
                  <a href="#">Ontology Anti-Patterns</a>
                </div>
                <a class="accordion-toggle">PROCESSES <i class="fa fa-chevron-down"></i></a>
                <div class="accordion-content">
                  <a href="#">Introduction to Process Modeling</a>
                  <a href="#">Why are processes important?</a>
                  <a href="#" class="disabled-link">Elements of Process Modeling</a>
                </div>
                <a class="accordion-toggle">EVENTS <i class="fa fa-chevron-down"></i></a>
                <div class="accordion-content">
                  <a href="#" class="disabled-link">Introduction to Events</a>
                  <a href="#" class="disabled-link">Events in the Enterprise</a>
                  <a href="#" class="disabled-link">An Architecture to process Events</a>
                </div>
                <a class="accordion-toggle">CAPABILITIES <i class="fa fa-chevron-down"></i></a>
                <div class="accordion-content">
                  <a href="#">Modeling Capabilities</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="toc-item effect-pf">
          <img src="images/business_templates/ontology-template.jpg" alt="">
          <div class="toc-text">
            <h4>Download Templates</h4>
            <div class="toc-links">
              <a href="#">Business Templates</a>
              <a href="#">System Templates</a>
              <a href="#">Technical Templates</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="toc-item effect-pf">
          <img src="images/vspec-placeholder.jpg" alt="">
          <div class="toc-text">
            <h4>Enterprise Governance</h4>
            <div class="toc-links">
              <a href="#" class="disabled-link">The concerns of Enterprise Governance</a>
              <a href="#" class="disabled-link">Application Inventorization</a>
              <a href="#" class="disabled-link">Functional Coverage</a>
              <a href="#" class="disabled-link">Managing Architecture Debt</a>
              <a href="#" class="disabled-link">Understanding the Total Cost of Ownership</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="toc-item effect-pf">
          <img src="images/architecture_styles/pic4.jpg" alt="">
          <div class="toc-text">
            <h4>Enterprise Architecture</h4>
            <div class="toc-links">
              <a href="#" class="disabled-link">Elements of Enterprise Architecture</a>
              <a href="#" class="disabled-link">Distributed, De-centralized, and Disruptive? Or Continuous, Centralized, and Concentrated?</a>
              <a href="#">Dynamic Models and Static Models of the Enterprise</a>
              <a href="#" class="disabled-link">Enterprise Blueprint</a>
              <a href="#" class="disabled-link">Enterprise Services</a>
              <a href="#">Architecture Styles</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="toc-item effect-pf">
          <img src="images/what_is_a_system/flying-birds.jpg" alt="">
          <div class="toc-text">
            <h4>On System Design</h4>
            <div class="toc-links">
              <a href="#">What is a System?</a>
              <a href="#">What are Information Systems?</a>
              <a href="#">What's important to the business?</a>
              <a href="#">Characteristics of Effective Information Systems</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </div>
  {{>footer}}
</section>