<div id="item1" class="menulink">
          <a href="" class="menuTitle">Introduction <span class="closeMenuContent hidden"><i class="fa fa-times-circle"></i></span></a>
          <div class="menuContent">
            <p>
              <a href="what_is_this_site_all_about.html">What is this site all about?</a>
            </p>
            <p class="grey">Design balance in information systems</p>
            <p class="grey">The benefits and limitations of models</p>
          </div>
        </div>
        <div id="item2" class="menulink">
          <a href="" class="menuTitle">Attitude <span class="closeMenuContent hidden"><i class="fa fa-times-circle"></i></span></a>
          <div class="menuContent">
            <p>
              <a href="Analyst_Attitude.html">The analyst's attitude</a>
            </p>
            <p>
              <a href="What_Squash_can_teach_us.html">What Squash can teach us about learning environments</a>
            </p>
            <p>
              <a href="When_effort_estimations_feel_like.html">When effort estimations feel like buying showroom kitchens</a>
            </p>
          </div>
        </div>
        <div id="item3" class="menulink">
          <a href="" class="menuTitle">Visual Specification <span class="closeMenuContent hidden"><i class="fa fa-times-circle"></i></span></a>
          <div class="menuContent">
            <p>
              <a href="Communicating_Designs.html">Communicating Designs</a>
            </p>
            <p>
              <a href="Overview_of_Representations.html">Overview of Representations</a>
            </p>
            <p class="grey">Representing Strategy</p>
            <p class="grey">Representing Information</p>
            <p class="grey">Representing Processes</p>
          </div>
        </div>
        <div id="item4" class="menulink">
          <a href="" class="menuTitle">Information Modeling <span class="closeMenuContent hidden"><i class="fa fa-times-circle"></i></span></a>
          <div class="menuContent">
            <div class="accordionButton">
              <p class="menuContentTitle">Ontologies</p>
            </div>
            <div class="accordionContent">
              <p>
                <a href="Introduction_to_Ontologies.html">Introduction to Ontologies</a>
              </p>
              <p>
                <a href="Business_Ontologies.html">Business Ontologies</a>
              </p>
              <p>
                <a href="3_orders_of_Logic.html">3 orders of Logic</a>
              </p>
              <p>
                <a href="Weak_versus_Strong_Typing.html">Weak versus Strong Typing</a>
              </p>
              <p>
                <a href="Elements_of_an_Ontology.html">Elements of an Ontology</a>
              </p>
              <p class="grey">Ontology Patterns</p>
              <p>
                <a href="Ontology_Anti-Patterns.html">Ontology Anti-Patterns</a>
              </p>
            </div>
            <div class="accordionButton">
              <p class="menuContentTitle">Processes</p>
            </div>
            <div class="accordionContent">
              <p>
                <a href="Introduction_to_Process_Modeling.html">Introduction to Process Modeling</a>
              </p>
              <p>
                <a href="Why_are_Processes_Important.html">Why are processes important?</a>
              </p>
              <p class="grey">Elements of Process Modeling</p>
            </div>
            <div class="accordionButton">
              <p class="menuContentTitle">Events</p>
            </div>
            <div class="accordionContent">
              <p class="grey">Introduction to Events</p>
              <p class="grey">Events in the Enterprise</p>
              <p class="grey">An Architecture to process Events</p>
            </div>
            <div class="accordionButton">
              <p class="menuContentTitle">Capabilities</p>
            </div>
            <div class="accordionContent">
              <p>
                <a href="Modeling_Capabilities.html">Modeling Capabilities</a>
              </p>
            </div>
          </div>
        </div>
        <div id="item5" class="menulink">
          <a href="" class="menuTitle">Download Templates <span class="closeMenuContent hidden"><i class="fa fa-times-circle"></i></span></a>
          <div class="menuContent">
            <p>
              <a href="Business_Templates.html">Business Templates</a>
            </p>
            <p>
              <a href="System_Templates.html">System Templates</a>
            </p>
            <p>
              <a href="Technical_Templates.html">Technical Templates</a>
            </p>
          </div>
        </div>
        <div id="item6" class="menulink">
          <a href="" class="menuTitle">Enterprise Governance <span class="closeMenuContent hidden"><i class="fa fa-times-circle"></i></span></a>
          <div class="menuContent">
            <p class="grey">The concerns of Enterprise Governance</p>
            <p class="grey">Application Inventorization</p>
            <p class="grey">Functional Coverage</p>
            <p class="grey">Managing Architecture Debt</p>
            <p class="grey">Understanding the Total Cost of Ownership</p>
          </div>
        </div>
        <div id="item7" class="menulink">
          <a href="" class="menuTitle">Enterprise Architecture <span class="closeMenuContent hidden"><i class="fa fa-times-circle"></i></span></a>
          <div class="menuContent">
            <p class="grey">Elements of Enterprise Architecture</p>
            <p class="grey">Distributed, De-centralized, and Disruptive? Or Continuous, Centralized, and Concentrated?</p>
            <p>
              <a href="Dynamic_and_Static_Models.html">Dynamic Models and Static Models of the Enterprise</a>
            </p>
            <p class="grey">Enterprise Blueprint</p>
            <p class="grey">Enterprise Services</p>
            <p>
              <a href="Architecture_Styles.html">Architecture Styles</a>
            </p>
          </div>
        </div>
        <div id="item8" class="menulink">
          <a href="" class="menuTitle">On System Design <span class="closeMenuContent hidden"><i class="fa fa-times-circle"></i></span></a>
          <div class="menuContent">
            <p>
              <a href="What_is_a_System.html">What is a System?</a>
            </p>
            <p>
              <a href="What_are_Information_Systems.html">What are Information Systems?</a>
            </p>
            <p>
              <a href="What's_Important_to_the_Business.html">What's important to the business?</a>
            </p>
            <p>
              <a href="Characteristics_of_Effective_Information_Systems.html">Characteristics of Effective Information Systems</a>
            </p>
          </div>
        </div>