<div id="page-wrapper">
  <div class="overlay"></div>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4">
          <div id="logoSmall">
            <a href="http://visualspec.org"><h1>VisualSpec.org</h1></a><a id="pageTop"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8">
          <p class="pageTitle text-right">What is this site all about?</p>
        </div>
      </div>
    </div>
  </header>
  <div id="content">
    <div class="container">
      <p class="spacer20">&nbsp;</p>
        <div class="articleImage text-center">
          <img src="images/What_is_this_Site_all_About/office.jpg" alt="Crowded office" />
          <small>&copy; The Library of Virginia</small>
        </div>
      <div class="articleIntro">
        <p class="pull-right">
          <a href="documents/What_is_this_site_all_about.pdf"><i class="fa fa-file-pdf-o"></i> download PDF</a>
        </p>
        <h4>Article Summary</h4>
        <div class="clearfix"></div>
        <p>Getting large groups of people to work together towards is a complex problem. A common technique to solve a complex problem is to break it into smaller problems, and thus a large group of people are assigned to smaller departments. In trying to solve the smaller problems, the smaller groups can quite easily forget that they were split up to solve a whole complex problem, and a fragmentation can, and often does, result. Divide a whole problem to find smaller solutions, but remember the unify solutions back to a whole.</p>
      </div>
      <div class="clearfix"></div>
      <div class="shadowEffect">&nbsp;</div>
      <div class="row">
        <div class="col-xs-12">
          <h4>What is this site all about?</h4>
          <p>The modern enterprise consists of several people working together towards common objectives. People work within different domains, such as operations, sales, development, or finance, each contributing. Although the organization's objectives might be common, different kinds of knowledge and perspectives are required each domain of the organization. These perspectives usually result in specialized systems for each domain, each contributing to fulfilling business services.</p>
          <p>All this sounds very nice in theory, but is rarely a reality for most organizations. Business systems for a domain are built around corporate budgets, and budgets are usually approved for a scope that addresses immediate business needs. Business requirements for inter-domain operations are reached retrospectively, as each domain focuses on finding a vendor or building a system for its own problems. Collaboration within the organization is achieved through intensive data integration across domains, usually at a cost comparable to the total sum spent on building the individual systems. The original business strategies that defined the domains often become outdated, and the domains become inflexible to new business strategies. Business choices are made based on the limitations of existing systems, which result in business limitations, and new initiatives are designed around existing business limitations. It's a vicious circle, and it results in a growing chasm between business realities and existing systems. So much so, "that eight out of ten dollars companies spend on IT is dead money, with a focus to keeping the lights on, but not contributing to business growth or competitive advantages".<sup><a href="#sup1">1</a></sup>
          </p>
          <p>This site is a guide to designing flexible and value-driven enterprise architectures. It starts by providing an outline for defining business information models, which are used to create representations of the business. Business representations are particularly useful in aligning the different domains within a business. Next, this site provides structures for defining system models. System models define the characteristics and behaviour of systems, illustrating what a system should do. Finally, the site provides techniques for technical analysis and design, translating the business and system models developed earlier into working systems. I have tried, as much as possible, to cite business examples from different types of businesses. A lot of my examples will be from the supply-chain industry, mostly due to the fact that most of my experience is in that domain, but I use examples from other industries as well.</p>
          <p>&nbsp;</p>
          <hr />
          <p class="pull-right"><a href="#pageTop" class="blue"><i class="fa fa-chevron-up"></i> Top of page</a></p>
          <small><a id="sup1"></a>1. Gartner Says Eight of Ten Dollars Enterprises Spend on IT is <a href="http://www.gartner.cpage.jsp?id=497088" class="blue">"Dead Money"</a>
          </small>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    
    
  </div>
  <!-- close content -->
</div>
<!-- close page-wrapper -->

